<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.startingandroid.tabslayout">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name=".SimpleTabsActivity" android:label="Simple Tabs"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".ScrollableTabsActivity" android:label="Scrollable Tabs"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".IconTabsActivity" android:label="Icon Tabs"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".IconTextTabsActivity" android:label="Icon + Text Tabs"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".CustomViewIconTextTabsActivity" android:label="Custom View Tabs"
            android:parentActivityName=".MainActivity"></activity>

    </application>

</manifest>
